<!-- <div class ="mission">
	<h1>OUR MISSION</h1>
	
	<hr>

	<p>
		Most new cars buyers are not sure how to choose a car that best suits their needs. We at bestcarforyou.com have built an easy-to-use tool that helps car buyers select the best car for them bassed on their preference of features and attributes.
	</p>
	<p></p>
	<p>
		Our recommendations are designed to be completely unbiased and are based solely on facts and figures that are published by car manufacturers and Consumer Reports. We do not solicit any car manufacturer advertising and we do not sell cars. We simply provide the facts based on individual requirements and let the buyer decide which vehicle to pruchase.
	</p>
</div> -->