<div class="hero">
	<div class="span6 offset1 hero-text">
		<h1 style="font-size:46px;padding-top:30px;">
			Find your perfect car

		</h1>
		<p>
			Finding your perfect car is <br>
			only a few clicks away
		</p>
		<a href="<%= new_survey_path %>" class="myButton">
			Fill Out Survey
		</a>
	</div>
	<div class="span4">
		<div class="flexslider">
		  <ul class="slides">
		  	<%= render 'images' %>
		  </ul>
		</div>
	</div>
</div>

<div class="how-it-works">
	<div class="row">
		<h1 class="title" style="font-size:50px;"><a name="how"></a>HOW IT WORKS</h1>
	</div>

	<div class="row">
		<div class="column"> 
				
				<h3>Fill Out Survey</h3>
				<p>
					Only complete the fields <br> 
					that are important to you
				</p>
				<a href="/surveys/new"><img src="/assets/Image1.png"></a>
		</div>

		<div class="column">
			
			<h3>View the Results</h3>
			<p>
				Compare the cars that matched <br> 
				your survey 
			</p>
			<img src="/assets/Image2.png">
		</div>

		<div class="column">
			
			<h3>Go Shopping</h3>
			<p>
				Knowing that you are making <br> 
				a more informed descision
			</p>
			<a href="/cars"><img src="/assets/Image3.png"></a>
		</div>
	</div>
</div>


<div class ="mission">
	<div class="row">
		<h1><a name="mission"></a>OUR MISSION</h1>
	</div>
	<div class="row">
		<p>
			Most new cars buyers are not sure how to choose a car that best suits their needs. We at bestcarforyou.com have built an easy-to-use tool that helps car buyers select the best car for them bassed on their preference of features and attributes.
		</p>
		<p></p>
		<p>
			Our recommendations are designed to be completely unbiased and are based solely on facts and figures that are published by car manufacturers and Consumer Reports. We do not solicit any car manufacturer advertising and we do not sell cars. We simply provide the facts based on individual requirements and let the buyer decide which vehicle to pruchase.
		</p>
	</div>
</div>









		



